TempInternaESP32conMQTT/FlujoNode-Red_Broker_Aedes.txt
[
    {
        "id": "bf461917d7f48c2b",
        "type": "tab",
        "label": "Inserción datos en SGBD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32804ae46292a619",
        "type": "mqtt in",
        "z": "bf461917d7f48c2b",
        "name": "",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "871eb7bf686042da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "3aa383512ebeb65c"
            ]
        ]
    },
    {
        "id": "d5b1f3d212eba58e",
        "type": "aedes broker",
        "z": "bf461917d7f48c2b",
        "name": "brokerEsp32",
        "mqtt_port": "188",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 250,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a8cc0172f7b37419",
        "type": "debug",
        "z": "bf461917d7f48c2b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 200,
        "wires": []
    },
    {
        "id": "29ca99aebed25566",
        "type": "mongodb3 in",
        "z": "bf461917d7f48c2b",
        "service": "_ext_",
        "configNode": "b49f517879342d2d",
        "name": "",
        "collection": "tempmicro",
        "operation": "insert",
        "x": 680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "180852416542f50c",
        "type": "inject",
        "z": "bf461917d7f48c2b",
        "name": "",
        "props": [
            {
                "p": "payload ",
                "v": "{\"temperature\":40}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "24044fd711dd62ae",
        "type": "debug",
        "z": "bf461917d7f48c2b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "250be11fe5e1a49a",
        "type": "function",
        "z": "bf461917d7f48c2b",
        "name": "obj JSON",
        "func": "\n\nlet obj = {\n    \"temperature\": msg.payload\n}\nmsg.payload = obj\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 560,
        "wires": [
            [
                "d54cabe894235309"
            ]
        ]
    },
    {
        "id": "8ff4bb95743c7f01",
        "type": "inject",
        "z": "bf461917d7f48c2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "250be11fe5e1a49a"
            ]
        ]
    },
    {
        "id": "d54cabe894235309",
        "type": "debug",
        "z": "bf461917d7f48c2b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "2755eab2fc517aae",
        "type": "comment",
        "z": "bf461917d7f48c2b",
        "name": "ESP32 conectado al Broker enviando la temperatura del microprocesador",
        "info": "",
        "x": 440,
        "y": 20,
        "wires": []
    },
    {
        "id": "fedef48ba4eefd44",
        "type": "comment",
        "z": "bf461917d7f48c2b",
        "name": "Inserción de datos en BD",
        "info": "",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "e508c0f42aba3807",
        "type": "function",
        "z": "bf461917d7f48c2b",
        "name": "solo msg",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 640,
        "wires": [
            [
                "38d369441788d5fc"
            ]
        ]
    },
    {
        "id": "2136118b6a343de0",
        "type": "inject",
        "z": "bf461917d7f48c2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":50}",
        "payloadType": "json",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "e508c0f42aba3807"
            ]
        ]
    },
    {
        "id": "38d369441788d5fc",
        "type": "debug",
        "z": "bf461917d7f48c2b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "2b0e6a72a5434c8a",
        "type": "mongodb3 in",
        "z": "bf461917d7f48c2b",
        "service": "_ext_",
        "configNode": "b49f517879342d2d",
        "name": "",
        "collection": "tempmicro",
        "operation": "insert",
        "x": 800,
        "y": 760,
        "wires": [
            [
                "d0cfde0f357e7d6c"
            ]
        ]
    },
    {
        "id": "66290e5a5313d472",
        "type": "function",
        "z": "bf461917d7f48c2b",
        "name": "obj JSON",
        "func": "\n\nlet obj = {\n    \"temperature\": msg.payload\n}\nmsg.payload = obj\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 760,
        "wires": [
            [
                "2b0e6a72a5434c8a"
            ]
        ]
    },
    {
        "id": "199a50dff7cb5a8d",
        "type": "inject",
        "z": "bf461917d7f48c2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "66290e5a5313d472"
            ]
        ]
    },
    {
        "id": "d0cfde0f357e7d6c",
        "type": "debug",
        "z": "bf461917d7f48c2b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 760,
        "wires": []
    },
    {
        "id": "13e2d48f2af1be0d",
        "type": "mongodb3 in",
        "z": "bf461917d7f48c2b",
        "service": "_ext_",
        "configNode": "b49f517879342d2d",
        "name": "",
        "collection": "tempmicro",
        "operation": "insert",
        "x": 860,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3aa383512ebeb65c",
        "type": "function",
        "z": "bf461917d7f48c2b",
        "name": "obj JSON",
        "func": "\n\nlet obj = {\n    \"temperature\": msg.payload\n}\nmsg.payload = obj\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "a8cc0172f7b37419"
            ]
        ]
    },
    {
        "id": "e1464635c1d0aa42",
        "type": "mysql",
        "z": "bf461917d7f48c2b",
        "mydb": "176759c21468039b",
        "name": "servidor MySQL",
        "x": 720,
        "y": 840,
        "wires": [
            [
                "cd2746d02af156b6"
            ]
        ]
    },
    {
        "id": "73b1f85beac66376",
        "type": "inject",
        "z": "bf461917d7f48c2b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "str",
        "x": 310,
        "y": 840,
        "wires": [
            [
                "fa5bb5167ef8d8b7"
            ]
        ]
    },
    {
        "id": "cd2746d02af156b6",
        "type": "debug",
        "z": "bf461917d7f48c2b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 840,
        "wires": []
    },
    {
        "id": "fa5bb5167ef8d8b7",
        "type": "function",
        "z": "bf461917d7f48c2b",
        "name": "query",
        "func": "// Modificar el topic\n// MySQL trabaja con topic\n// Ejemplo:\n// INSERT INTO `tempmicro` (`id`, `temperature`, `fecha`, `hora`) VALUES (NULL, '32', current_timestamp(), 'current_timestamp()')\nlet valor = msg.payload\nmsg.topic = \"INSERT INTO `tempmicro` (`id`, `temperature`, `fecha`, `hora`) VALUES (NULL,\"+ valor +\", current_timestamp(), current_timestamp())\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            [
                "e1464635c1d0aa42"
            ]
        ]
    },
    {
        "id": "22c52ae3ec0b54db",
        "type": "comment",
        "z": "bf461917d7f48c2b",
        "name": "Broker hecho en node js",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "871eb7bf686042da",
        "type": "mqtt-broker",
        "name": "brokerEsp32",
        "broker": "localhost",
        "port": "188",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b49f517879342d2d",
        "type": "mongodb3",
        "uri": "mongodb://localhost:27017/ESP32",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "176759c21468039b",
        "type": "MySQLdatabase",
        "name": "LocalServer",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "esp32",
        "tz": "",
        "charset": "UTF8",
        "info": "Creación: \r\nCREATE TABLE `esp32`.`tempmicro` (`id` INT NOT NULL AUTO_INCREMENT , `temperature` DECIMAL(4,2) NOT NULL , `fecha` DATE NOT NULL DEFAULT CURRENT_TIMESTAMP , `hora` TIME NOT NULL DEFAULT CURRENT_TIMESTAMP , PRIMARY KEY (`id`)) ENGINE = InnoDB;"
    }
]